<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/4698577_banking_cash_money_payment_wallet_icon.svg'  %}" >
</head>
<body>
    <div class="row">
        <div class="col-md-3 sidemenu">
            {% include 'Base/sidemenu.html' %}
        </div>
        <div class="col-md-9 m-0">
            {% include 'Base/header.html' %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
   
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body> 
</html>