/*Themes de la page*/
:root {
    --primary-color :#FAD9E6;
    --secondary-color:#e4aec5;
    --third-color:#5F7464;
}

/*------------Sidemenu----------------------------------*/
.sidemenu{
    height: 960px;
    width: 400px;
    background-color:rgb(85,85,85);
    color: var(--secondary-color)
}
.sidemenu a{
    display:block;
    margin-top:20px;
    border:solid var(--secondary-color) 0.5px;
    border-radius:50px;
    color:rgb(219, 219, 219);
    transition: .8s;
}
.sidemenu a:hover, .sidemenu a.active{
    background-color: var(--secondary-color);
    margin-left:15px;
    color:black;
    border-color:black;
} 
.logo{
    font-weight:30px;
    font-size:40px;
    padding:60px 80px;
    margin-bottom:10px;
}
.logo-img{
    width:65px;
}
